<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiBarter"
        tools:targetApi="31">
        <activity
            android:name=".OnboardingActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".PostingBarangActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".RekomendasiActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ElektronikActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".AksesorisActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".PerabotanActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".FashionActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".EditProfilActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".AkunActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".PostinganSayaActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".BarangTerjualActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".SuksesPopupActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".DetailActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UbahBarangActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".BukaChatActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MapsActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bartas.aplikasibarter.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAy9dmw1OusXiIJGRNupq61T9WaIFU63HU"/>
    </application>

</manifest>